<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adtdata.neo4j.dao.CompanyDao">
	<resultMap id="BaseResultMap" type="com.adtdata.neo4j.domain.Company">
		<result column="ID" property="id" />
		<result column="COMPANY_NAME" property="companyName" />
	</resultMap>
	<resultMap id="personMap" type="com.adtdata.neo4j.domain.Person">
		<result column="ID" property="id" />
		<result column="PERSONNAME" property="personName" />
	</resultMap>

	<select id="selectCompany" parameterType="com.adtdata.neo4j.query.Param" resultMap="BaseResultMap">
		SELECT ID,COMPANY_NAME,NEW_COM_ID,REG_CAPITAL,REG_STATUS FROM COMPANY WHERE ID &gt;= #{start} AND ID &lt; #{end}
		AND USE_FLAG=0
	</select>

	<select id="selectCompanyMaxId"  resultType="long">
		SELECT MAX(ID) FROM COMPANY.COMPANY
	</select>

	<select id="selectPerson" parameterType="com.adtdata.neo4j.query.Param" resultMap="personMap">
		SELECT A.ID,A.PERSONNAME FROM PERSON_NAME A WHERE A.ID &gt;= #{start} AND A.ID &lt; #{end} AND A.ID>0 AND A.USE_FLAG=0
	</select>

	<select id="selectPersonMaxId" resultType="long">
		SELECT MAX(ID) FROM PERSON_NAME A
	</select>



	<select id="selectComAndPerRelation" parameterType="com.adtdata.neo4j.query.Param" resultType="com.adtdata.neo4j.domain.ComAndPerRelation">
		SELECT ID,COMPANY_ID,PERSON_ID,GROUP_ID,ISLEGAL,ISKEYPERSON,ISSHAREHOLDER FROM COMPANY.COMPANY_GROUP WHERE ID &gt;= #{start} AND ID  &lt; #{end}
	</select>

	<select id="selectComAndPerRelationMaxId"  resultType="long">
		SELECT MAX(ID) FROM COMPANY.COMPANY_GROUP
	</select>

	<!-- 法人股东增加比例查询 -->
<!--	<select id="selectShareHolder" parameterType="com.adt.neo4j.query.Param" resultType="com.adt.neo4j.domain.ShareHolder">
		SELECT A.ID,A.COMPANY_ID,A.SHAREHOLDER_ID,A.AMOUNT,B.REG_CAPITAL,A.CAPITAL,B.NEW_COM_ID FROM COMPANY.COMPANY_SHAREHOLDER A,COMPANY B
  		WHERE  A.ID BETWEEN #{start} AND #{end} AND A.USE_FLAG=0  AND INVESTOR_TYPE=2 AND SHAREHOLDER_ID>0 AND A.COMPANY_ID=B.ID
	</select>-->
	<select id="selectShareHolder" parameterType="com.adtdata.neo4j.query.Param" resultType="com.adtdata.neo4j.domain.ShareHolder">
		SELECT A.ID,A.COMPANY_ID,A.SHAREHOLDER_ID,A.AMOUNT,A.CAPITAL FROM COMPANY.COMPANY_SHAREHOLDER A
  		WHERE  A.ID &gt;= #{start} AND A.ID &lt; #{end} AND A.USE_FLAG=0  AND INVESTOR_TYPE=2 AND SHAREHOLDER_ID>0
	</select>

	<select id="selectShareHolderMaxId"  resultType="long">
		SELECT MAx(A.ID) FROM COMPANY.COMPANY_SHAREHOLDER A
	</select>

	<!-- 自然人股东 -->
	<!--<select id="selectSnShareHolder" parameterType="com.adt.neo4j.query.Param" resultType="com.adt.neo4j.domain.ShareHolder">
	   SELECT  A.ID,A.COMPANY_ID,A.SHAREHOLDER_ID,A.AMOUNT,B.REG_CAPITAL,A.CAPITAL,B.NEW_COM_ID FROM COMPANY.COMPANY_SHAREHOLDER A,COMPANY B
  		WHERE  A.ID BETWEEN #{start} AND #{end} AND A.USE_FLAG=0  AND INVESTOR_TYPE=1 AND SHAREHOLDER_ID>0 AND A.COMPANY_ID=B.ID
	</select>-->
	<select id="selectSnShareHolder" parameterType="com.adtdata.neo4j.query.Param" resultType="com.adtdata.neo4j.domain.ShareHolder">
	   SELECT  A.ID,A.COMPANY_ID,A.SHAREHOLDER_ID,A.AMOUNT,A.CAPITAL FROM COMPANY.COMPANY_SHAREHOLDER A
  		WHERE  A.ID &gt;= #{start} AND A.id &lt; #{end} AND A.USE_FLAG=0  AND INVESTOR_TYPE=1 AND SHAREHOLDER_ID>0
	</select>

	<select id="selectSnShareHolderMaxId" resultType="long">
	   SELECT  MAX(A.ID) FROM COMPANY.COMPANY_SHAREHOLDER A
	</select>

	<select id="selectInvestment" parameterType="com.adtdata.neo4j.query.Param" resultType="com.adtdata.neo4j.domain.Investment">
		SELECT A.SHAREHOLDER_ID AS COMPANY_ID,A.COMPANY_ID AS INVEST_COMPANY_ID FROM COMPANY.COMPANY_SHAREHOLDER A
  		WHERE  A.ID BETWEEN #{start} AND #{end} AND A.USE_FLAG=0  AND INVESTOR_TYPE=2 AND SHAREHOLDER_ID>0
	</select>
	<select id="selectBranch" parameterType="com.adtdata.neo4j.query.Param" resultType="com.adtdata.neo4j.domain.Branch">
		SELECT DISTINCT PARENT_ID AS COMPANY_ID,ID AS BRANCH_ID  FROM COMPANY WHERE ID &gt;= #{start} AND ID &lt; #{end}
		AND USE_FLAG=0  AND PARENT_ID > 0
	</select>


	<select id="selectKeyPerson" parameterType="com.adtdata.neo4j.query.Param" resultType="com.adtdata.neo4j.domain.KeyPerson">
		SELECT COMPANY_ID,STAFF_ID FROM COMPANY.COMPANY_KEYPERSON WHERE ID &gt;= #{start} AND ID &lt; #{end}
	</select>

	<select id="selectKeyPersonMaxId"  resultType="long">
		SELECT MAX(ID) FROM COMPANY.COMPANY_KEYPERSON
	</select>


	<select id="selectGroupPerson" parameterType="com.adtdata.neo4j.query.Param" resultType="com.adtdata.neo4j.domain.GroupPerson">
		SELECT ID,PERSON_ID,GROUP_ID,PERSON_NAME AS NAME FROM COMPANY.COMPANY_GROUP  WHERE ID &gt;= #{start} AND ID &lt; #{end}
	</select>

	<select id="selectGroupPersonMaxId" resultType="long">
		SELECT MAX(ID) FROM COMPANY.COMPANY_GROUP
	</select>


	<insert id="insertInvestRelation" parameterType="java.util.List">
		insert into ADT_SOLR_TEMP.RELATION_INVEST
		( COMPANY_ID,COMPANY_NAME,CAPITALACTL,STAKES_RATIO,CODE,NAME_LABEL,PARENT_ID,LEVEL)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(
				#{item.companyId},
				#{item.companyName},
				#{item.capitalactl},
				#{item.stakesRatio},
				#{item.code},
				#{item.nameLabel},
				#{item.parentId},
				#{item.level}
			)
		</foreach>
	</insert>
	<select id="selectInvestmentById" parameterType="String" resultType="com.adtdata.neo4j.domain.ShareHolder">
		SELECT A.ID,A.COMPANY_ID,B.COMPANY_NAME,A.SHAREHOLDER_ID,A.AMOUNT,B.REG_CAPITAL,A.CAPITAL,B.NEW_COM_ID FROM COMPANY.COMPANY_SHAREHOLDER A,COMPANY B
  		WHERE A.SHAREHOLDER_ID=#{id} AND A.INVESTOR_TYPE=2 AND A.USE_FLAG=0 AND A.COMPANY_ID=B.ID
	</select>
	<select id="selectInvestmentByIds" parameterType="java.util.List" resultType="String">
		SELECT DISTINCT A.SHAREHOLDER_ID FROM COMPANY.COMPANY_SHAREHOLDER A
  		WHERE A.SHAREHOLDER_ID in
		<foreach collection="list" item="item" index="index" separator="," open="(" close=")">
			#{item}
		</foreach>
  		AND A.INVESTOR_TYPE=2 AND A.USE_FLAG=0
	</select>
	<select id="selectCompanyByIds" parameterType="java.util.List" resultMap="BaseResultMap">
		SELECT ID,COMPANY_NAME,REG_CAPITAL FROM COMPANY
		WHERE ID in
		<foreach collection="list" item="item" index="index" separator="," open="(" close=")">
			#{item}
		</foreach>
	</select>
	<select id="selectCompanyByNames" parameterType="java.util.List" resultMap="BaseResultMap">
		SELECT ID,COMPANY_NAME FROM COMPANY
		WHERE COMPANY_NAME in
		<foreach collection="list" item="item" index="index" separator="," open="(" close=")">
			#{item}
		</foreach>
	</select>
	<insert id="insertCompanyRelation" parameterType="java.util.List">
		insert into ADTENBASE.ADT_COMPANY_RELATION
		(   PROVIDER_COMPANY_CODE,
			PROVIDER_COMPANY_ID,
			PROVIDER_COMPANY_NAME,
			CUSTOMER_COMPANY_CODE,
			CUSTOMER_COMPANY_ID,
			CUSTOMER_COMPANY_NAME,
			HAVING_RELATION,
			RELATION_PATH)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(
			#{item.providerCompanyCode},
			#{item.providerCompanyId},
			#{item.providerCompanyName},
			#{item.customerCompanyCode},
			#{item.customerCompanyId},
			#{item.customerCompanyName},
			#{item.havingRelation},
			#{item.relationPath}
			)
		</foreach>
	</insert>

	<insert id="insertCompanyShareRelation" parameterType="java.util.List">
		insert into COMPANY_BAKTEMP.ADT_COMPANY_SHAREHOLDER_RELATION
		(   PROVIDER_COMPANY_CODE,
			PROVIDER_COMPANY_ID,
			PROVIDER_COMPANY_NAME,
			CUSTOMER_COMPANY_CODE,
			CUSTOMER_COMPANY_ID,
			CUSTOMER_COMPANY_NAME,
			HAVING_RELATION,
			RELATION_PATH)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(
			#{item.providerCompanyCode},
			#{item.providerCompanyId},
			#{item.providerCompanyName},
			#{item.customerCompanyCode},
			#{item.customerCompanyId},
			#{item.customerCompanyName},
			#{item.havingRelation},
			#{item.relationPath}
			)
		</foreach>
	</insert>
	<select id="selectNoEntityCompany" parameterType="com.adtdata.neo4j.query.Param" resultType="com.adtdata.neo4j.domain.Company">
		SELECT ID,COMPANY_NAME FROM COMPANY.COMPANY_SHAREHOLDER_NOENTITY where ID &gt;= #{start} and ID &lt; #{end}
	</select>

	<select id="selectNoEntityCompanyMaxId" resultType="long">
		SELECT max(ID) FROM COMPANY.COMPANY_SHAREHOLDER_NOENTITY
	</select>
</mapper>
